*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    outline:none;
    font-weight: 400;
    font-family:'Poppins',sans-serif;
}

:root{
    --blue-200: #7bb1d1; 
    --blue-500: #367cc8;
    --blue-800: #1f4b88; 
 
    --gray-200: #cccccc;
    --gray-400: #505861;
 
    --black-800: #171717;
 
    --white: #F9F9F9;
}

html{
    width:100%;
    height:100vh;
    scroll-behavior:smooth;
}

body{
    background-color:var(--gray-200);
    color:var(--black-800);
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

button,a{
    cursor:pointer;
}

.botao{
    text-align: center;
    padding: 12px 32px;
    background:none;
    border: 1px solid var(--blue-800);
    border-radius:10px;
    font-weight: bold;
}

.botao:hover{
    background-color: var(--blue-800);
    color: var(--white)
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

/*Estilização - Seção Header*/

.menu_container{
    height: 80px;
    position:sticky;
    top: 0;
    background-color: var(--blue-800);
    border-bottom: 1px solid var(--blue-500);
    filter: opacity(0.9);
}

.menu_container a{
    color:var(--white);
    font-weight: bold;
    
}

.menu_container a:hover{
    color: var(--blue-200)
}

.menu_content{
    max-width:1120px;
    padding: 0 24px;
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.menu_list{
    list-style: none;
    text-align:center;
}

.menu_list li{
    margin-left: 1rem;
}

.home_container{
    max-width: 1120px;
    margin:16px auto;
    padding: 0 1rem;
    height:calc(100vh - 100px);
}

.home_container p,h1,h4{
    text-align:center;
    font-size:1rem;
}

.home_container h1{
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: bold;
}

.home_container h4{
    font-weight:bold;
}

.home_container p {
    margin: 1rem 0;
}

.home_container .botao{
    width: 40%;
}

.home_content{
    width: 50vw;
    flex-direction:column;
}

.home_content img{
    display:flex;
    width:75%;
}